{% extends 'base.html' %}
{% block title %}Support Us{% endblock title %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/supportusStyle.css' %}" />
<link rel="stylesheet" href="{% static 'css/indexStyle.css' %}" />
    <div class="container">
        <center>
            <h3 id="headingsupportus" class="mt-4" data-aos="flip-up">Support Us</h3> <br>
            <div class="card mb-3 mt-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/supportUs/paisedonate3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Fundraise</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#headingwaysyoucandonate"><button type="submit" class="btn btn-outline-dark mt-2">Support Us</button></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mt-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/supportUs/volunteers.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Volunteer</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#headingwaysyoucandonate"><button type="submit" class="btn btn-outline-dark mt-2">Support Us</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 mt-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/supportUs/fooddonate2.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> Food Donating </h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#headingwaysyoucandonate"><button type="submit" class="btn btn-outline-dark mt-2">Support Us</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mt-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/supportUs/schooldonate2.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> Educational Material </h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#headingwaysyoucandonate"><button type="submit" class="btn btn-outline-dark mt-2">Support Us</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 mt-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/supportUs/healthdonate2.webp" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> Health Related</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="#headingwaysyoucandonate"><button type="submit" class="btn btn-outline-dark mt-2">Support Us</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="supportUS mt-5">
                <center>
                    <h2 class="display-5 fw-bold allHeadings" id="headingwaysyoucandonate" data-aos="flip-up">WAYS YOU CAN DONATE</h2>
                    <br>
                    <div class="card-group">
                        <div class="card serviceCard-index" id="serviceCardIndex1">
                            <div class="card-body">
                                <center><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg></center>
                                <h5 class="card-title mt-2 mb-2"><b>In Personal</b></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
        
                        <div class="card serviceCard-index" id="serviceCardIndex2">
                            <div class="card-body">
                                <center><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-broadcast" viewBox="0 0 16 16">
                                        <path
                                            d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                    </svg></center>
                                <h5 class="card-title mt-2 mb-2"><b>Online</b></h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="btn btn-outline-dark" href="donate.php" role="button">Donate</a>
                            </div>
                        </div>
        
                        <div class="card serviceCard-index" id="serviceCardIndex3">
                            <div class="card-body">
                                <center><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg></center>
                                <h5 class="card-title mt-2 mb-2"><b>Over the Phone</b></h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This card has even longer content than the first to show that equal
                                    height action.</p>
                                <a class="btn btn-outline-dark" href="tel:7774882080" role="button">Contact</a>
                            </div>
                        </div>
        
                        <div class="card serviceCard-index" id="serviceCardIndex4">
                            <div class="card-body">
                                <center><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                        class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg></center>
                                <h5 class="card-title mt-2 mb-2"><b>By Email</b></h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a class="btn btn-outline-dark" href="mailto:rehbarfoundation313@gmail.com"
                                    role="button">Mail</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </center>
            </div>
    </div>
    {% include "footer.html" %}
{% endblock body %}
